body {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 56px;
  margin-bottom: 8px;
}

.konami {
  max-width: 640px;
  width: 100%;
  margin: 32px auto;
  padding: 32px;
  border: 2px solid #fff;
  border-radius: 16px;
  font-size: 24px;
  line-height: 2;
  box-sizing: border-box;
}

.cmd {
  font-family: monospace;
}

.konami p,
.konami pre {
  margin: 8px;
}

.link a {
  font-size: 14px;
  color: #fff;
}